<h1>Authors Index</h1>

<% @authors.each do |author| %>
<h3>
	<%= author.name %>
	<img src="<%= author.avatar %>">
	
</h3>
	<%= link_to "Add Post", new_author_post_path(author)%>
	
	<%= link_to "Edit author", edit_author_path(author)%>

	<%= link_to 'Delete author', author_path(author), class:'btn btn-sm btn-warning',  method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
	

<br><br>


	<h4>Posts:</h4>

	  <% author.posts.each do |post| %>
	  <%= post.title %> <br>

<%= link_to "Edit post", edit_post_path(author) %>
<%= link_to "Delete post", post_path(post), class:'btn btn-sm btn-warning', method: :delete, data: {confirm: 'Are you sure?'} %>

<br>
	Tags:
	  <% post.tags.each do |tag| %>
	  <%= tag.name %>
	  <% end %>	


	
	  <% end %>
<br><br>
	<% end %>